<div>
    <div>
        <h2>Giải phương trình bậc hai</h2>
    </div>
    <div>
        <form method="post" action="./PTBH">
            <div>
                <label for="a">Hệ số a:</label>
                <input type="text" name="a" required>
            </div>
            <div>
                <label for="b">Hệ số b:</label>
                <input type="text" name="b" required>
            </div>
            <div>
                <label for="c">Hệ số c:</label>
                <input type="text" name="c" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <h3>@ViewBag.Result</h3>
</div>