<div>
    <div>
        <h1>Giải phương trình bậc nhất</h1>
    </div>
    <div>
        <form method="post" action="./PTBN">
            <div>
                <label for="a">Hệ số a:</label>
                <input type="text" name="a" required>
            </div>
            <div>
                <label for="b">Hệ số b:</label>
                <input type="text" name="b" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <h3>@ViewBag.Result</h3>
</div>
